<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title></title>

  <link rel="manifest" href="manifest.json">
  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/uuid.js"></script>
  <script src="js/app.js"></script>
  <!-- firebase angular code -->
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.js"></script>

  <script type="text/javascript">

    var x, y, rad = 50, rmax, cnv, ctx, a, c

    function splash1() {
      ctx.beginPath()
      ctx.arc(x, y, rad, 0, 2 * Math.PI)
      ctx.closePath()
      switch (a) {
        case 0: col = "rgba(200,0,0,.075)"; break;
        case 1: col = "rgba(0,200,0,.075)"; break;
        case 2: case 3: col = "rgba(150,150,0,.1)"; break;
        case 4: case 5: case 6: col = "rgba(200,0,200,0.1)"; break;
        case 7: col = "rgba(150,50,150,.125)"; break;
        case 8: case 9: col = "rgba(0,0,128,0.125)"; break;
      }
      ctx.fillStyle = col
      ctx.fill()
      ctx.strokeStyle = col
      ctx.stroke()
      rad += 5
      if (rad >= rmax) {
        rad = 50
        clearInterval(c)
      }
    }

    function splash(event) {
      if (c != null)
        clearInterval(c)
      x = event.x - cnv.offsetLeft
      y = event.y - cnv.offsetTop
      rmax = 50 + Math.floor(Math.random() * 10)
      a = Math.floor(Math.random() * 10)
      c = setInterval(splash1, 50)
    }

    window.onload = function () {
      cnv = document.getElementById("canvasholi")
      ctx = cnv.getContext("2d")
      ctx.beginPath()
      ctx.rect(0, 0, 340, 400)
      ctx.closePath()
      ctx.fillStyle = "white"
      ctx.fill()
      cnv.addEventListener("click", splash, false)
    }
  </script>
</head>

<body ng-app="myapp" ng-controller="mycontroller" ng-init="playMusic()">
  <ion-pane>
    <ion-header-bar class="bar-stable">
      <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indian Festivals</h1>
    </ion-header-bar>
    <ion-content>
      <p>
        <h1 class="aligncenter">Holi</h1>
      </p>

      <p class="aligncenter">
        <img src="img/4aHoli.png" width="50%" height="10%" />
      </p>
      <hr>

      <p class="aligncontentcenter">Holi is an ancient Hindu religious festival which has become popular with non-Hindus in many parts of South Asia, as
        well as people of other communities outside Asia.In recent years the festival has spread to parts of Europe and North
        America as a spring celebration of love, frolic, and colours.</p>
      <p class="aligncontentcenter">Holi celebrations start on the night before Holi with a Holika Dahan where people gather, perform religious rituals
        in front of the bonfire, and pray that their internal evil be destroyed the way Holika, the sister of the demon king
        Hiranyakashipu, was killed in the fire.
      </p>
      <!--<button type="button" ng-click="playAudio()">Play Diwali Music</button><br>-->
      <audio id="audio" src="media/Holi.mp3"></audio>
      <hr>

      <p style="text-align:center;">
        <button type="button" id="loginwelcomebutton" ng-click="gotoHomePage()">Back</button>
      </p>
      <p style="text-align:center;">
        <button id="logoutbutton" ng-click="gotoIndexPage()">Sign Out</button>
      </p>
      <hr>

      <canvas id="canvasholi">Canvas is not supported in your browser.</canvas>
      <hr>

      <p id="youtube" class="aligncenter">
        <iframe width="100%" height="200" src="https://www.youtube.com/embed/QQ7jxoJrG2A" frameborder="0"></iframe>
      </p>
      <br>
      <hr>

      <p class="aligncenter" id="maps">Place to Celebrate Holi
        <br>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46385.55660361559!2d-80.3928570792041!3d43.39589593227299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x720b9482f25f26df!2sDharmic+Cultural+Centre+%26+Mandir!5e0!3m2!1sen!2sca!4v1524196529341"
          width="94%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      </p>
      <hr>

      <!-- Project and tasks start-->
      <div id="comments" class="aligncenter">
        <div id="respond">
          <h3 style="margin-left: 3%">Comment for Holi </h3>
          <form ng-submit="addTask(projects['1f572fc5-8578-45fe-9286-b9d2283c20b8'])">
            <textarea rows="6" ng-model="projects['1f572fc5-8578-45fe-9286-b9d2283c20b8'].task.start" placeholder="Comment" required="required"></textarea>
            <input ng-model="projects['1f572fc5-8578-45fe-9286-b9d2283c20b8'].task.name" type="text" placeholder="Name" required="required"
            />
            <input ng-model="projects['1f572fc5-8578-45fe-9286-b9d2283c20b8'].task.length" type="Email" placeholder="Email" required="required"
            />
            <p style="text-align:right;margin-right: 5%;">
              <button id="postbutton" style="text-align:center;">
                POST COMMENT
              </button>
            </p>
          </form>
        </div>
        <br>
        <br>
        <hr>
        <div class="indent">
          <h3 class="commentheader">Previous Comments:</h3>
          <div ng-repeat="task in projects['1f572fc5-8578-45fe-9286-b9d2283c20b8'].tasks" class="commentcontent">
            <div class="media-body postsection">
              <h4 class="media-heading">{{task.name}}&nbsp;({{task.length}})</h4>
              <span class="commenttext">&nbsp; &nbsp;{{task.start}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Project and tasks end-->

    </ion-content>
  </ion-pane>
</body>

</html>