<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/uuid.js"></script>
  <script src="js/app.js"></script>
 <!-- firebase angular code -->
 <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
 <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.js"></script>

</head>

<body ng-app="myapp" ng-controller="mycontroller">
  <ion-pane>
    <ion-header-bar class="bar-stable">
      <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indian Festivals</h1>
    </ion-header-bar>
    <ion-content>
      <img src="img/1Welcome.png" width="100%" />
      <hr>

      <!--<br> Please Register your Username
      <br>
      <form ng-app="myapp" ng-controller="mycontroller" ng-submit="register()">
        <label>{{registererror}}</label>
        UserName:
        <input type="textbox" ng-model="username"> Password:
        <input type="textbox" ng-model="password"> Confirm Password:
        <input type="textbox" ng-model="confirmpassword">
        <br>
        <button type="submit">Register</button>
        <button type="button" ng-click="gotoIndexPage()">Back</button>
      </form>-->
      <form class="form-horizontal" ng-app="myapp" ng-controller="mycontroller" ng-submit="register()">
        <fieldset>
          <div id="legend">
            <p id="loginpara">
              <legend class="" style="font-weight: bold;">Register</legend>
            </p>
          </div>
          <label class="control-label" style="font-weight: bold;color:red;">{{registererror}}</label>
          <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">Username</label>
            <div class="controls">
              <input type="text" required="required" ng-model="username" id="username" name="username" placeholder="" class="input-xlarge">
              <p class="help-block">Username can contain any letters or numbers, without spaces</p>
            </div>
          </div>

          <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" required="required" ng-model="password" id="password" name="password" placeholder="" class="input-xlarge">
              <p class="help-block">Password should be at least 4 characters</p>
            </div>
          </div>

          <div class="control-group">
            <!-- Password -->
            <label class="control-label" for="password_confirm">Password (Confirm)</label>
            <div class="controls">
              <input type="password" required="required" ng-model="confirmpassword" id="password_confirm" name="password_confirm" placeholder=""
                class="input-xlarge">
              <p class="help-block">Please confirm password</p>
            </div>
          </div>

          <hr>
          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <button type="submit" id="registerregbutton" class="btn btn-success">Register</button>
              <button type="button" id="registerloginbutton" class="btn btn-success" ng-click="gotoLoginPage()">Login</button><br><br>
              <button type="button" id="registerbackbutton" class="btn btn-success" ng-click="gotoIndexPage()">Back</button>
            </div>
          </div>
        </fieldset>
      </form>
    </ion-content>
  </ion-pane>
</body>

</html>